body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    padding: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    width: 150px;
}

.card p {
    font-size: 26px;
}

.risk {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}

canvas {
    margin-top: 40px;
    max-width: 800px;
}